html{
    display: block;
    margin: 50px;
}
.menu {
    float: right;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 20px;
    align-content: center;
}

footer>p {
 float: right;
 }

